body {
    font-family: 'Lato', sans-serif;
}

.main-bg-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../public/img/furniture-bg1.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.main-bg-img h1 {
    color: white;
    text-align: center;
    margin-bottom: 55px;
    line-height: 1;
}

.sub-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-barang h2 {
    font-weight: 700;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url('../public/img/furniture-bg2.jpg');
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.contact .content p{
    font-weight: 400;
    color: #fff;
}

.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container2 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
} 

.container2 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container2 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container2 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container2 .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container2{
        flex-direction: column;
    }
    .container2 .contactInfo{
        margin-bottom: 40px;
    }
    .container2 .contactInfo,
    .contactForm{
        width: 100%;
    }
}

.about{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url('../public/img/furniture-bg2.jpg');
    background-size: cover;
}

.about .content2 h1{
    max-width: 800px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.content2 p{
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 1.2px;
    line-height: 30px;
    display: flex;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
}